Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx,vue}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,vue,json}": "prettier --ignore-unknown --write"
}

chore: update store.txt
  dist/store.txt
Due: none

fix: 更新变量与活跃样式
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.css
  dist/Edit0/Edit0.css
  dist/EditForm/EditForm.css
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/MarkRights-pagestyles/MarkRights-pagestyles.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive-pagestyles/images/userContributions-orange.svg
  src/WhoIsActive-pagestyles/images/userContributions-purple.svg
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat: 更新小工具
  dist/AjaxLogin/AjaxLogin.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/addListener.ts
  src/AjaxLogin/modules/api.ts
  src/AjaxLogin/modules/constant.ts
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/components/AgreeButton.tsx
  src/CookieWarning/components/CookieWarning.module.less
  src/CookieWarning/components/RootElement.tsx
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: 用户组脚本＆样式表
  src/Group-importer/Group-importer.less
  src/Group-importer/LICENSE
  src/Group-importer/definition.json
  src/Group-importer_JS/Group-importer_JS.ts
  src/Group-importer_JS/LICENSE
  src/Group-importer_JS/definition.json
  src/Group-importer_JS/modules/fixCheckbox.ts
  src/Group-importer_JS/modules/fixSummary.ts
  src/Group-importer_JS/options.json
  src/Group-user_JS/modules/smartEditIntro.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: dist
  dist/Group-importer/Group-importer.css
  dist/Group-importer_JS/Group-importer_JS.js
  dist/Group-user_JS/Group-user_JS.js
  dist/definition.txt
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix: unterminated string constant
  src/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: store.txt
  dist/store.txt
Due: none

fix: toolbar fix
  dist/store.txt
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: border-radius 10px→5px
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat: update wikicache
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/content.ts
  src/Wikicache/modules/types.d.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix: citizen的contentsub
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  dist/store.txt
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 修复重定向子标题
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  dist/store.txt
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 取消地理位置自动更新
  src/GeoLocation/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Update article-category.less
  src/SkinCitizen_CSS/modules/article-category.less
Due: prettier --write, stylelint --allow-empty-input --fix

Update README.md
  README.md
Due: none

build: update dependencies
  package.json
  patches/esbuild-css-modules-plugin@3.1.2.patch
  pnpm-lock.yaml
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: automatically install dependencies after merging branches
  .husky/post-merge
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.6.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: pnpm lock file
  pnpm-lock.yaml
Due: none

feat: add mailmap
  .mailmap
Due: none

fix: Prefer `.querySelector()` over `.getElementById()`
  dist/Scroller/Scroller.js
  dist/SkinCitizen_JS/SkinCitizen_JS.js
  src/Scroller/Scroller.ts
  src/SkinCitizen_JS/SkinCitizen_JS.ts
Due: prettier --write, eslint --fix

update mailmap
  .mailmap
Due: none

update: for test
  svgo.config.cjs
Due: prettier --write, eslint --fix

fix(DefaultSummaries): broken
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/definition.json
  src/DefaultSummaries/modules/constant.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/DefaultSummaries/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: dist
  dist/DefaultSummaries/DefaultSummaries.js
  dist/definition.txt
Due: prettier --write, eslint --fix

fix(EditForm): util
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/introACH.ts
  src/Util/Util.ts
  src/Util/definition.json
  src/Util/modules/generateArray.ts
  src/Util/modules/global.d.ts
  src/Util/modules/initMwApi.ts
  src/Util/modules/userHasRight.ts
  src/Util/modules/userIsInGroup.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(util): user-agent
  dist/EditForm_JS/EditForm_JS.js
  dist/Util/Util.js
  src/Util/modules/initMwApi.ts
Due: prettier --write, eslint --fix

fix(WikiCache): 不再默认加载
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/definition.json
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Add files via upload
  src/RightTopicons/LICENSE
  src/RightTopicons/PermissionData.ts
  src/RightTopicons/RightTopicons.ts
  src/RightTopicons/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(RightTopicon): add RightTopicon
  src/RightTopicons/PermissionData.ts
  src/RightTopicons/RightTopicons.ts
Due: prettier --write, eslint --fix

fix: noarticletext的样式
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/noArticleText.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat(RightTopicon): add RightTopicon
  src/RightTopicons/RightTopicons.ts
  src/RightTopicons/modules/PermissionData.ts
Due: prettier --write, eslint --fix

Delete src/RightTopicons/PermissionData.ts
  src/RightTopicons/PermissionData.ts
Due: prettier --write, eslint --fix

fix(RightTopicon): autoconfirmed→confirmed
  dist/RightTopicons/RightTopicons.js
  dist/SiteCommon/SiteCommon.css
  dist/definition.txt
  src/RightTopicons/RightTopicons.ts
  src/RightTopicons/modules/PermissionData.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix
