Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json}": "prettier --ignore-unknown --write"
}

build!: import styles using scripts this is a breaking change
  .eslintrc
  docs/how-to-build-or-deploy.md
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

modified: scripts/constant.ts modified: src/InPageEdit/definition.json
  scripts/constant.ts
  src/InPageEdit/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: unable to generate correct class names for Less modules revert: fb3034d
  scripts/modules/build-esbuild_options.ts
  src/global.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.0.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

docs(build): improve the description in how-to-build-or-deploy.md
  docs/how-to-build-or-deploy.md
Due: none

chore(build): bump version to 4.0.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(build): the imported style is incorrectly duplicated
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.1.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update eslint rules
  .eslintrc
Due: none

feat: add NavbarAvatar and Scroller
  dist/AjaxLogin/AjaxLogin.js
  dist/FilterAlteredClicks/FilterAlteredClicks.js
  dist/InPageEdit/InPageEdit.js
  dist/NavbarAvatar/NavbarAvatar.css
  dist/NavbarAvatar/NavbarAvatar.js
  dist/React/React.js
  dist/Scroller/Scroller.css
  dist/Scroller/Scroller.js
  dist/Toastify/Toastify.js
  dist/Util/Util.js
  dist/definition.txt
  dist/i18n/i18n.js
  src/NavbarAvatar/LICENSE
  src/NavbarAvatar/NavbarAvatar.css
  src/NavbarAvatar/NavbarAvatar.ts
  src/NavbarAvatar/definition.json
  src/Scroller/.options
  src/Scroller/LICENSE
  src/Scroller/Scroller.css
  src/Scroller/Scroller.ts
  src/Scroller/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: add React module
  src/InPageEdit/React/React.ts
  src/InPageEdit/React/definition.json
  src/InPageEdit/React/modules/global.d.ts
  src/InPageEdit/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: wrong folder path
  README.md
  dist/InPageEdit/InPageEdit.js
  dist/React/React.js
  dist/definition.txt
  src/InPageEdit/LICENSE
  src/React/React.ts
  src/React/definition.json
  src/React/modules/global.d.ts
  src/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add HideConversionTab
  src/HideConversionTab/HideConversionTab.css
  src/HideConversionTab/LICENSE
  src/HideConversionTab/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add DisambigLinks
  src/DisambigLinks/DisambigLinks.css
  src/DisambigLinks/LICENSE
  src/DisambigLinks/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: add DisambigLinks.css
  dist/DisambigLinks/DisambigLinks.css
Due: prettier --write, stylelint --allow-empty-input --fix

revert: hang on
  dist/AjaxLogin/AjaxLogin.js
  dist/FilterAlteredClicks/FilterAlteredClicks.js
  dist/HideConversionTab/HideConversionTab.css
  dist/InPageEdit/InPageEdit.js
  dist/NavbarAvatar/NavbarAvatar.css
  dist/Scroller/Scroller.css
  dist/Toastify/Toastify.css
  dist/Toastify/Toastify.js
  dist/Util/Util.js
  dist/definition.txt
  dist/i18n/i18n.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

revert: remove some dependcies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

revert: remove jsx-dom
  dist/React/React.js
  src/React/React.ts
  src/React/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

revert: remove unnecessary files
  src/MwApiParams.d.ts
  src/global.json
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: tsx
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: add InterwikiTips
  dist/InterwikiTips/InterwikiTips.css
  src/InterwikiTips/InterwikiTips.css
  src/InterwikiTips/LICENSE
  src/InterwikiTips/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: add default flag
  dist/definition.txt
  src/DisambigLinks/definition.json
  src/HideConversionTab/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat: support for using Vue components
  .eslintrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docs/how-to-build-or-deploy.md
  docs/how-to-use-exports-and-require-in-mediawiki.md
  docs/how-to-use-jsx-and-tsx-with-jsxdom.md
  docs/how-to-use-vue.md
  package.json
  pnpm-lock.yaml
  scripts/modules/build-esbuild_options.ts
  scripts/modules/build.ts
  scripts/modules/utils/build-util.ts
  src/global.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: LICENSE
  src/DisambigLinks/LICENSE
Due: none

chore(build): bump version to 4.2.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: update definition.txt
  dist/NavbarAvatar/NavbarAvatar.js
  dist/Scroller/Scroller.js
  dist/definition.txt
Due: prettier --write, eslint --fix

refactor: delete old .options file
  src/Scroller/.options
Due: none

fix: gadget definitions and licenses
  src/DisambigLinks/definition.json
  src/HideConversionTab/LICENSE
  src/NavbarAvatar/definition.json
  src/Scroller/LICENSE
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.2.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update lint-staged commands
  .lintstagedrc
  src/global.d.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.2.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat: add Toastify.js
  package.json
  pnpm-lock.yaml
  src/Toastify/LICENSE
  src/Toastify/Toastify.ts
  src/Toastify/custom.less
  src/Toastify/definition.json
  src/Toastify/modules/global.d.ts
  src/Toastify/modules/types.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: add @types/toastify-js and toastify-js
  dist/DisambigLinks/DisambigLinks.css
  dist/HideConversionTab/HideConversionTab.css
  dist/NavbarAvatar/NavbarAvatar.js
  dist/Scroller/Scroller.js
  dist/Toastify/Toastify.css
  dist/Toastify/Toastify.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
