Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Update i18n.ts
  src/NotifyConversion/modules/i18n.ts
Due: prettier --write, eslint --fix

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat: support specifying packages as real-external dependencies
  .vscode/json-schemas/definition.json
  scripts/constant.ts
  scripts/modules/build.ts
  scripts/modules/formatJSON.ts
  scripts/modules/types.d.ts
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.5.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

更新背景
  src/SkinCitizen/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

Update background.less
  src/SkinCitizen/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: dist
  dist/NotifyConversion/NotifyConversion.css
  dist/NotifyConversion/NotifyConversion.js
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: 升级actions代码
  .github/workflows/deploy.yml
Due: none

refactor: 依据求闻上游更改结构
  dist/CookieWarning-pagestyles/CookieWarning-pagestyles.css
  dist/CookieWarning/CookieWarning.js
  dist/definition.txt
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/CookieWarning-pagestyles/LICENSE
  src/CookieWarning-pagestyles/definition.json
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/LICENSE
  src/CookieWarning/definition.json
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: ts飞了
  src/CookieWarning/CookieWarning.ts
Due: prettier --write, eslint --fix

chore: 下调并发
  scripts/constant.ts
Due: prettier --write, eslint --fix

fix: 消失的它
  src/CookieWarning/components/CookieWarning.module.less
  src/CookieWarning/components/RootElement.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: dist
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/definition.txt
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat: add wikilove icon for citizen
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
  src/SkinCitizen/modules/wikilove.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dependencies
  package.json
  patches/@mrhenry__babel-plugin-core-web@1.2.1.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: do not output package version in the CSS module class names
  package.json
  patches/esbuild-css-modules-plugin@3.1.0.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.5.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Update README.md
  README.md
Due: none

style(vscode): update recommended configuration
  .vscode/extensions.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.5.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor: 替换权限组
  README.md
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights-pagestyles/MarkRights-pagestyles.css
  dist/MarkRights/MarkRights.js
  dist/Navigation_popups/Navigation_popups.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/SiteCommon/SiteCommon.css
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  dist/morebits/morebits.js
  dist/store.txt
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/modules/i18n.ts
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/i18n.ts
  src/MarkRights/modules/types.d.ts
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/core.ts
  src/OnlineAdmins/modules/i18n.ts
  src/SiteCommon/modules/groupShow.less
  src/global.json
  src/morebits/morebits.js
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

style: 增加h2标题元素
  dist/SkinCitizen/SkinCitizen.css
  dist/store.txt
  src/SkinCitizen/SkinCitizen.less
  src/SkinCitizen/modules/h2-title.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 修正头像上传链接
  dist/ShowAvatar/ShowAvatar.js
  dist/store.txt
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, eslint --fix

fix: 去除h2背景
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
  src/SkinCitizen/modules/h2-title.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 也许修了文件页样式
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 。。。
  src/SiteCommon/modules/mobile.less
  src/SkinCitizen/modules/page-width.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: style
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/SiteCommon/modules/infobox.less
  src/SkinCitizen/modules/page-width.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: 分离Citizen样式与脚本
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinCitizen/SkinCitizen.js
  dist/SkinCitizen_CSS/SkinCitizen.css
  dist/SkinCitizen_JS/SkinCitizen.js
  dist/definition.txt
  src/SkinCitizen/definition.json
  src/SkinCitizen_CSS/LICENSE
  src/SkinCitizen_CSS/SkinCitizen.less
  src/SkinCitizen_CSS/definition.json
  src/SkinCitizen_CSS/modules/HYYouShouYan.less
  src/SkinCitizen_CSS/modules/TOC.less
  src/SkinCitizen_CSS/modules/article-category.less
  src/SkinCitizen_CSS/modules/background.less
  src/SkinCitizen_CSS/modules/component-color.less
  src/SkinCitizen_CSS/modules/content-box.less
  src/SkinCitizen_CSS/modules/darkmode-color.less
  src/SkinCitizen_CSS/modules/fix-site-icon.less
  src/SkinCitizen_CSS/modules/hide-sub.less
  src/SkinCitizen_CSS/modules/mobile-style.less
  src/SkinCitizen_CSS/modules/page-width.less
  src/SkinCitizen_CSS/modules/scroller-color.less
  src/SkinCitizen_CSS/modules/specialpage.less
  src/SkinCitizen_CSS/modules/title.less
  src/SkinCitizen_CSS/modules/userpage-avatar.less
  src/SkinCitizen_CSS/modules/variables.less
  src/SkinCitizen_CSS/modules/variant-option.less
  src/SkinCitizen_CSS/modules/visualeditor.less
  src/SkinCitizen_CSS/modules/wikilove.less
  src/SkinCitizen_JS/LICENSE
  src/SkinCitizen_JS/SkinCitizen.ts
  src/SkinCitizen_JS/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: 文件名
  dist/SkinCitizen_CSS/SkinCitizen.css
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  dist/SkinCitizen_JS/SkinCitizen.js
  dist/SkinCitizen_JS/SkinCitizen_JS.js
  dist/definition.txt
  dist/store.txt
  src/SkinCitizen_CSS/SkinCitizen_CSS.less
  src/SkinCitizen_JS/SkinCitizen_JS.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat: 更新转换变体小工具#QW
  dist/TranslateVariants/TranslateVariants.js
  dist/store.txt
  src/TranslateVariants/TranslateVariants.ts
  src/TranslateVariants/modules/api.ts
  src/TranslateVariants/modules/constant.ts
  src/TranslateVariants/modules/core.tsx
  src/TranslateVariants/modules/translateVariants.tsx
  src/TranslateVariants/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: 更新权标小工具 from QiuWen
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/i18n.ts
Due: prettier --write, eslint --fix

chore: update dist
  dist/MarkRights/MarkRights.js
Due: prettier --write, eslint --fix

chore: set GeoLocation gadget to default and hidden
  src/GeoLocation/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx,vue})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx,vue}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
