Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

style(vscode): update recommended configuration
  .vscode/settings.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.3.6
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: dist
  dist/DisamAssist/DisamAssist.js
Due: prettier --write, eslint --fix

chore: 变体store.txt更新
  dist/store.txt
Due: none

fix: 引入GeoLocation配套CSS
  dist/FloatTOC/FloatTOC.css
  dist/FloatTOC/FloatTOC.js
  dist/FoldRef-pagestyles/FoldRef-pagestyles.css
  dist/FoldRef/FoldRef.js
  dist/FullwidthSearchFix/FullwidthSearchFix.js
  dist/GadgetsDefinition/GadgetsDefinition.css
  dist/GadgetsDefinition/GadgetsDefinition.js
  dist/Geo/Geo.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/GeoLocationReader/GeoLocationReader.js
  dist/definition.txt
  dist/store.txt
  src/FloatTOC/LICENSE
  src/FoldRef-pagestyles/LICENSE
  src/FoldRef/LICENSE
  src/FullwidthSearchFix/LICENSE
  src/GadgetsDefinition/LICENSE
  src/Geo/LICENSE
  src/GeoLocation/LICENSE
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/GeoLocationReader-pagestyles/LICENSE
  src/GeoLocationReader-pagestyles/definition.json
  src/GeoLocationReader-pagestyles/images/globe.svg
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/GeoLocationReader/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: 迁移HanSect、HotCat，新增高风险模板一键保护、HideLongSummaries
  dist/HRTProtectLink/HRTProtectLink.js
  dist/HanSect/HanSect.css
  dist/HideConversionTab/HideConversionTab.css
  dist/HideLongSummaries/HideLongSummaries.js
  dist/HotCat-pagestyles/HotCat-pagestyles.css
  dist/HotCat/HotCat.js
  dist/definition.txt
  dist/store.txt
  src/HRTProtectLink/HRTProtectLink.ts
  src/HRTProtectLink/LICENSE
  src/HRTProtectLink/definition.json
  src/HRTProtectLink/modules/constant.ts
  src/HRTProtectLink/modules/i18n.ts
  src/HanSect/HanSect.less
  src/HanSect/LICENSE
  src/HanSect/definition.json
  src/HideConversionTab/HideConversionTab.less
  src/HideLongSummaries/HideLongSummaries.ts
  src/HideLongSummaries/LICENSE
  src/HideLongSummaries/definition.json
  src/HideLongSummaries/modules/constant.ts
  src/HideLongSummaries/modules/i18n.ts
  src/HideLongSummaries/options.json
  src/HotCat-pagestyles/HotCat-pagestyles.less
  src/HotCat-pagestyles/LICENSE
  src/HotCat-pagestyles/definition.json
  src/HotCat/.eslintrc
  src/HotCat/HotCat.js
  src/HotCat/LICENSE
  src/HotCat/definition.json
  src/HotCat/modules/check.ts
  src/HotCat/modules/constant.ts
  src/HotCat/modules/getMessage.ts
  src/HotCat/modules/messages.ts
  src/HotCat/modules/types.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: optional skip of questions during deployment
  package.json
  scripts/modules/deploy.ts
  scripts/modules/utils/deploy-util.ts
  scripts/run.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: read credentials from environment variables
  docs/how-to-build-or-deploy.md
  scripts/modules/environment.d.ts
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

build: migrate to husky v9
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.4.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat: 增加一键巡查、清除缓存提示库
  dist/OneSideMenu/OneSideMenu.css
  dist/OnlineAdmins-pagestyles/OnlineAdmins-pagestyles.css
  dist/OnlineAdmins/OnlineAdmins.js
  dist/PagePatroller/PagePatroller.js
  dist/PreviewWithVariant-pagestyles/PreviewWithVariant-pagestyles.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PrintOptions/PrintOptions.js
  dist/PurgePageCache/PurgePageCache.js
  dist/QuickImport/QuickImport.js
  dist/QuickPatrol/QuickPatrol.js
  dist/definition.txt
  dist/store.txt
  src/OnlineAdmins-pagestyles/LICENSE
  src/OnlineAdmins/LICENSE
  src/PagePatroller/LICENSE
  src/PreviewWithVariant-pagestyles/LICENSE
  src/PreviewWithVariant/LICENSE
  src/PrintOptions/LICENSE
  src/PurgePageCache/LICENSE
  src/PurgePageCache/PurgePageCache.ts
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/constant.ts
  src/PurgePageCache/modules/core.ts
  src/PurgePageCache/modules/i18n.ts
  src/QuickPatrol/LICENSE
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/definition.json
  src/QuickPatrol/modules/core.ts
  src/QuickPatrol/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: 增加平滑菜单、特殊页面删除、表头固定、盘古之白
  dist/SmoothTOC/SmoothTOC.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/StickyTableHeaders-pagestyles/StickyTableHeaders-pagestyles.css
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/TextSpacing/TextSpacing.css
  dist/TextSpacing/TextSpacing.js
  dist/definition.txt
  dist/store.txt
  src/SmoothTOC/LICENSE
  src/SmoothTOC/SmoothTOC.ts
  src/SmoothTOC/definition.json
  src/SmoothTOC/modules/core.ts
  src/SpecialWikitext/LICENSE
  src/SpecialWikitext/SpecialWikitext.less
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/definition.json
  src/SpecialWikitext/modules/generateElements.tsx
  src/SpecialWikitext/modules/i18n.ts
  src/StickyTableHeaders-pagestyles/LICENSE
  src/StickyTableHeaders-pagestyles/StickyTableHeaders-pagestyles.less
  src/StickyTableHeaders-pagestyles/definition.json
  src/StickyTableHeaders/LICENSE
  src/StickyTableHeaders/StickyTableHeaders.ts
  src/StickyTableHeaders/definition.json
  src/StickyTableHeaders/modules/core.ts
  src/TextSpacing/LICENSE
  src/TextSpacing/TextSpacing.less
  src/TextSpacing/TextSpacing.ts
  src/TextSpacing/definition.json
  src/TextSpacing/modules/queue.ts
  src/TextSpacing/modules/spacing.ts
  src/TextSpacing/modules/util.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: 杂项
  dist/store.txt
Due: none

refactor: 与求闻NavBox对齐，迁移导航Popups、NavFrame支持
  dist/NavFrame-pagestyles/NavFrame-pagestyles.css
  dist/NavFrame/NavFrame.js
  dist/NavboxCSS/NavboxCSS.css
  dist/Navigation_popups-pagestyles/Navigation_popups-pagestyles.css
  dist/Navigation_popups/Navigation_popups.js
  dist/definition.txt
  src/NavFrame-pagestyles/LICENSE
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/NavFrame-pagestyles/definition.json
  src/NavFrame/LICENSE
  src/NavFrame/NavFrame.ts
  src/NavFrame/definition.json
  src/NavFrame/modules/core.ts
  src/NavFrame/modules/i18n.ts
  src/NavboxCSS/LICENSE
  src/NavboxCSS/NavboxCSS.less
  src/NavboxCSS/definition.json
  src/Navigation_popups-pagestyles/LICENSE
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/Navigation_popups-pagestyles/definition.json
  src/Navigation_popups/.eslintrc
  src/Navigation_popups/LICENSE
  src/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/definition.json
  src/Navigation_popups/modules/core.js
  src/Navigation_popups/modules/string.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add MboxCSS
  src/MboxCSS/LICENSE
  src/MboxCSS/MboxCSS.less
  src/MboxCSS/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: 神金
  dist/store.txt
  src/Twinkle/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: 补充Twinkle输出，便于调试
  dist/store.txt
  src/Twinkle/modules/twinkle.js
  src/global.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: 将Twinkle判断非对应用户组输出提升至WARN
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix: 提前Twinkle定义，防止后方无权限时调用出错
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

chore: 重新生成dist文件
  dist/Twinkle/Twinkle.js
Due: prettier --write, eslint --fix

chore: store
  dist/store.txt
Due: none

fix: 在ts引入CitizenCSS
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinCitizen/SkinCitizen.js
  dist/definition.txt
  src/SkinCitizen/SkinCitizen.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: 更新现有部署项
  dist/store.txt
Due: none

fix: 在ShowAvatar.ts引入对应Less
  src/ShowAvatar/ShowAvatar.less
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: re-generate dist
  dist/ShowAvatar/ShowAvatar.css
  dist/ShowAvatar/ShowAvatar.js
  dist/definition.txt
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(ShowAvatarJS): from moegirl
  dist/ShowAvatar/ShowAvatar.css
  dist/ShowAvatar/ShowAvatar.js
  dist/store.txt
  src/ShowAvatar/LICENSE
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat: add avatar gadgets
  dist/NavbarAvatar/NavbarAvatar.css
  dist/NavbarAvatar/NavbarAvatar.js
  dist/UserLinkAvatar/UserLinkAvatar.css
  dist/UserLinkAvatar/UserLinkAvatar.js
  dist/definition.txt
  src/NavbarAvatar/NavbarAvatar.less
  src/NavbarAvatar/NavbarAvatar.ts
  src/UserLinkAvatar/LICENSE
  src/UserLinkAvatar/UserLinkAvatar.less
  src/UserLinkAvatar/UserLinkAvatar.ts
  src/UserLinkAvatar/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: deprecate JQuery
  dist/SkinCitizen/SkinCitizen.css
  dist/UserLinkAvatar/UserLinkAvatar.js
  dist/definition.txt
  dist/store.txt
  src/SkinCitizen/modules/article-category.less
  src/UserLinkAvatar/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx,vue})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx,vue}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
