Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.5.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: support using some MediaWiki built-in packages
  docs/how-to-use-exports-and-require-in-mediawiki.md
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: set esbuild platform to `node` to avoid overriding global variables
  scripts/modules/build-esbuild_options.ts
Due: prettier --write, eslint --fix

build: set the root directory for the original mapping of source map
  dist/React/React.js
  scripts/modules/build-esbuild_options.ts
Due: prettier --write, eslint --fix

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.6.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

revert: 2cfffb7 daa2d80
  dist/React/React.js
  scripts/modules/build-esbuild_options.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 3.6.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

docs(build): improve the description in how-to-use-exports-and-require-in-mediawiki.md
  docs/how-to-use-exports-and-require-in-mediawiki.md
Due: none

feat: turn off `namedExports` option for CSS/Less modules
  docs/how-to-use-jsx-and-tsx-with-jsxdom.md
  tsconfig.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(build): source map cannot map the correct line
  dist/React/React.js
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 3.7.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(build): source map cannot map the correct line
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 3.7.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.7.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.7.3
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  pnpm-lock.yaml
Due: none

chore(build): bump version to 3.7.4
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.7.5
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.7.6
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix: spelling errors
  .vscode/settings.json
  LICENSE
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.7.7
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.7.8
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 3.7.9
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

add InPageEdit
  src/InPageEdit/.options
  src/InPageEdit/InPageEdit.ts
  src/InPageEdit/LICENSE
  src/InPageEdit/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build-util): add *.jsx to regexes
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

fix(build): the path processing did not correctly handle JSX files https://github.com/AnYiEE/AwesomeGadgets/pull/20
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 3.8.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(build): incorrectly treating `index.css` as a script
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

fix(build): skip the current loop under specific circumstances
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

perf(build): avoid defining empty arrays
  scripts/modules/build.ts
  scripts/modules/types.d.ts
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
