Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(toolbar): delete specific rules
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: dist
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
Due: prettier --write, stylelint --allow-empty-input --fix

build: update eslint rules
  .editorconfig
  .eslintrc
  scripts/modules/formatJSON.ts
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

build: update dependencies
  package.json
  patches/eslint-config-wikimedia@0.28.2.patch
  patches/eslint-plugin-no-jquery@3.0.2.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.7.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.7.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.7.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update eslint rules
  .eslintrc
  scripts/modules/utils/deploy-test.ts
  src/global.d.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.8.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

style(vscode): update recommended configuration
  .vscode/extensions.json
  .vscode/settings.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  patches/esbuild-css-modules-plugin@3.1.2.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.8.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.8.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docs/how-to-build-or-deploy.md
  docs/how-to-use-exports-and-require-in-mediawiki.md
  docs/how-to-use-vue.md
  package.json
  patches/eslint-plugin-no-jquery@3.1.0.patch
  pnpm-lock.yaml
  scripts/modules/deploy.ts
  scripts/modules/utils/build-util.ts
  tsconfig.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.8.3
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  .eslintrc
  package.json
  patches/types-mediawiki@1.9.1.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.8.4
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.8.5
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  .github/workflows/lint.yml
  .github/workflows/sync.yml
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.8.6
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(scripts): improve `generateArray` function type definitions
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.8.7
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  docs/how-to-use-vue.md
  package.json
  patches/alpha-sort.patch
  patches/esbuild-css-modules-plugin.patch
  patches/esbuild-css-modules-plugin@3.1.2.patch
  patches/eslint-config-wikimedia.patch
  patches/eslint-plugin-no-jquery.patch
  patches/types-mediawiki.patch
  pnpm-lock.yaml
  src/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor!: rename `ext.gadget.React` to `ext.gadget.JSX`
  dist/JSX/JSX.js
  dist/definition.txt
  docs/how-to-use-jsx-and-tsx-with-jsxdom.md
  src/JSX/JSX.ts
  src/JSX/definition.json
  src/JSX/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.9.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  .eslintrc
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.9.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: fix case and typo issues
  .vscode/settings.json
  docs/how-to-build-or-deploy.md
  docs/how-to-use-exports-and-require-in-mediawiki.md
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.9.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

docs(build): improve the description
  .vscode/settings.json
  README.md
  docs/how-to-build-or-deploy.md
  docs/how-to-use-exports-and-require-in-mediawiki.md
  docs/how-to-use-jsx-and-tsx-with-jsxdom.md
  docs/how-to-use-vue.md
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(scripts): reorganize type definitions - Move environment.d.ts to types/environment.d.ts - Move types.d.ts to types/types.d.ts - Create index.d.ts to export all types from './types'
  scripts/modules/types/environment.d.ts
  scripts/modules/types/index.d.ts
  scripts/modules/types/types.d.ts
Due: prettier --write, eslint --fix

refactor(scripts): use `Promise.all` for concurrent processing
  scripts/modules/build.ts
  scripts/modules/deploy.ts
Due: prettier --write, eslint --fix

refactor(scripts): improve console output formatting and consistency
  scripts/modules/build.ts
  scripts/modules/deploy.ts
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-test.ts
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx,vue})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx,vue}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
