Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx,vue}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,vue,json}": "prettier --ignore-unknown --write"
}

fix(RightTopicon): typo and cancel default & hidden
  dist/store.txt
  src/RightTopicons/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(RightTopicon): typo
  dist/definition.txt
  dist/store.txt
  src/RightTopicons/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: dist
  dist/definition.txt
  dist/store.txt
Due: none

revert(RightTopicons): incomplete function; already has MarkRights
  src/RightTopicons/LICENSE
  src/RightTopicons/RightTopicons.ts
  src/RightTopicons/definition.json
  src/RightTopicons/modules/PermissionData.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: raise maximum concurrency
  scripts/constant.ts
Due: prettier --write, eslint --fix

chore: dist
  dist/RightTopicons/RightTopicons.js
  dist/definition.txt
  dist/store.txt
Due: prettier --write, eslint --fix

fix(SiteCommon): page name
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(talkPage): typo
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: lower maximum concurrency to 12
  scripts/constant.ts
Due: prettier --write, eslint --fix

fix(SpecialWikitext): 同步上游仓库更新
  dist/SiteCommon/SiteCommon.css
  dist/SpecialWikitext/SpecialWikitext.css
  dist/SpecialWikitext/SpecialWikitext.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  src/SpecialWikitext/SpecialWikitext.less
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/components/SpecialWikitext.module.less
  src/SpecialWikitext/components/generateElements.tsx
  src/SpecialWikitext/modules/api.ts
  src/SpecialWikitext/modules/generateElements.tsx
  src/SpecialWikitext/modules/i18n.ts
  src/SpecialWikitext/modules/lua/luaAddText.ts
  src/SpecialWikitext/modules/lua/luaCheck.ts
  src/SpecialWikitext/modules/lua/luaGetText.ts
  src/SpecialWikitext/modules/mw/mwAddPreview.ts
  src/SpecialWikitext/modules/mw/mwAddText.ts
  src/SpecialWikitext/modules/mw/mwApply.ts
  src/SpecialWikitext/modules/notice.ts
  src/SpecialWikitext/modules/util/addParsedWikitext.ts
  src/SpecialWikitext/modules/util/checkElementExist.ts
  src/SpecialWikitext/modules/util/checkMwConfig.ts
  src/SpecialWikitext/modules/util/checkNeedPreview.ts
  src/SpecialWikitext/modules/util/getLanguage.ts
  src/SpecialWikitext/modules/wikitextPreviewTestcase.ts
  src/SpecialWikitext/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: update fix-toolbar.less
  dist/store.txt
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: update fix-toolbar.less
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: update fix-toolbar.less
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: dist
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.6.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix: update image URLs for indication icons
  dist/HotCat/HotCat.js
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix

fix: package.json
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix: lockfile
  pnpm-lock.yaml
Due: none

chore: update upstream
  pnpm-lock.yaml
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/definition.json
  src/Editform_AiAssisted/definition.json
  src/EnhancedSpecialSearch/definition.json
  src/Geo/definition.json
  src/GeoLocationReader-pagestyles/definition.json
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/definition.json
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/VariantAlly/definition.json
  src/VariantAllyDialog/composables/useDefault.ts
  src/VariantAllyDialog/definition.json
  src/Wikiplus-highlight/modules/checkDependencies.ts
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

revert: severe bugs in new version
  package.json
  pnpm-lock.yaml
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/definition.json
  src/Editform_AiAssisted/definition.json
  src/EnhancedSpecialSearch/definition.json
  src/Geo/definition.json
  src/GeoLocationReader-pagestyles/definition.json
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/definition.json
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/VariantAlly/definition.json
  src/VariantAllyDialog/composables/useDefault.ts
  src/VariantAllyDialog/definition.json
  src/Wikiplus-highlight/modules/checkDependencies.ts
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: remove unnecessary type casting in useDefault.ts
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/VariantAllyDialog/composables/useDefault.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.6.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix: 删除lockfile完全重新生成依赖
  pnpm-lock.yaml
Due: none

chore: dist
  pnpm-lock.yaml
Due: none

fix: update upstream
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/clearUndoSummary.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/introACH.ts
  src/EditForm_JS/modules/preloadRevid.ts
  src/Editform_AiAssisted/definition.json
  src/Editform_Patch2017/modules/i18n.ts
  src/GeoLocationReader/modules/addElement.ts
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/Util/Util.ts
  src/Util/definition.json
  src/Util/modules/global.d.ts
  src/Util/modules/uniqueArray.ts
  src/Util/modules/userHasRight.ts
  src/Util/modules/wpSummaryContent.ts
  src/Util/modules/wpTextbox1Content.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/content.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: remove unnecessary code in fix-site-icon.less
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  src/SkinCitizen_CSS/modules/fix-site-icon.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 防止背景图在移动设备上随viewport高度变化而跳动 (#17)
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  src/SkinCitizen_CSS/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 避免宽屏下的背景图重复
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  src/SkinCitizen_CSS/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 弃用background-attachment: fixed
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  src/SkinCitizen_CSS/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: update RollbackSummary to use updateLinks module
  dist/RollbackSummary/RollbackSummary.js
  src/RollbackSummary/RollbackSummary.ts
  src/RollbackSummary/modules/updateLinks.ts
Due: prettier --write, eslint --fix

feat: add alt attribute to user avatars in UserLinkAvatar
  dist/UserLinkAvatar/UserLinkAvatar.js
  src/UserLinkAvatar/UserLinkAvatar.ts
Due: prettier --write, eslint --fix

fix(UserLinkAvatar): remove unnecessary alt text for avatar images
  dist/UserLinkAvatar/UserLinkAvatar.js
  src/UserLinkAvatar/UserLinkAvatar.ts
Due: prettier --write, eslint --fix

chore: add auto asign
  .github/auto_asign_configs.yml
  .github/workflows/auto-assign-pr.yml
Due: none

chore: adjust reviewers
  .github/auto_asign_configs.yml
Due: none
