Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx,vue}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,vue,json}": "prettier --ignore-unknown --write"
}

refactor(UserLinkAvatar): refactor
  src/AccessKeyCheatsheet/definition.json
  src/DisambigLinks/definition.json
  src/NavbarAvatar/definition.json
  src/Scroller/definition.json
  src/UserLinkAvatar/UserLinkAvatar.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: 重新生成dist
  dist/UserLinkAvatar/UserLinkAvatar.js
Due: prettier --write, eslint --fix

fix: 在Scroller.ts引入对应Less，修复UserLinkAvatar.less
  dist/Scroller/Scroller.css
  dist/Scroller/Scroller.js
  dist/UserLinkAvatar/UserLinkAvatar.css
  dist/definition.txt
  src/Scroller/Scroller.less
  src/Scroller/Scroller.ts
  src/UserLinkAvatar/UserLinkAvatar.less
  src/UserLinkAvatar/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: 更新global.json，正式迁移小工具
  dist/store.txt
  src/UserLinkAvatar/definition.json
  src/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: 重新生成dist
  dist/store.txt
Due: none

fix: 取消隐藏特殊页面菜单项
  src/SiteCommon/modules/groupShow.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 不显示页头
  src/SiteCommon/modules/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 修复特定CSS在主页的生效
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

style: 增加背景图片样式
  dist/SiteCommon/SiteCommon.css
  src/SkinCitizen/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 无聊
  src/SkinCitizen/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat: 尝试添加背景淡入
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

revert: 没事
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

revert: again
  src/SkinCitizen/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: 重新生成dist
  dist/SkinCitizen/SkinCitizen.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix: 统一背景为固定
  src/SkinCitizen/modules/background.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: hatnote color
  src/SiteCommon/modules/hatnote.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat: 加入Actions自动部署
  .github/workflows/deploy.yml
Due: none

fix: 增加pnpm安装
  .github/workflows/deploy.yml
Due: none

fix: pnpm run deploy:directly
  .github/workflows/deploy.yml
Due: none

fix: 背景
  .github/workflows/deploy.yml
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
Due: prettier --write, stylelint --allow-empty-input --fix

style: 为转换变体小工具按钮添加样式
  src/TranslateVariants/modules/core.tsx
Due: prettier --write, eslint --fix

chore: 重新生成dist
  dist/TranslateVariants/TranslateVariants.js
Due: prettier --write, eslint --fix

fix: 为转换变体小工具按钮添加样式
  src/TranslateVariants/modules/core.tsx
Due: prettier --write, eslint --fix

fix: 主页名字空间判断
  dist/TranslateVariants/TranslateVariants.js
  src/EasyArchive/EasyArchive.js
  src/PagePatroller/PagePatroller.ts
Due: prettier --write, eslint --fix

chore: dist
  dist/EasyArchive/EasyArchive.js
  dist/PagePatroller/PagePatroller.js
Due: prettier --write, eslint --fix

fix: remove unused group
  src/NotifyConversion/modules/core.ts
Due: prettier --write, eslint --fix

fix: 优编用户组
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/NotifyConversion/NotifyConversion.js
  dist/SiteCommon/SiteCommon.css
  dist/Twinkle/Twinkle.js
  dist/store.txt
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/SiteCommon/modules/groupShow.less
  src/Twinkle/modules/twinkleblock.js
  src/global.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: 错拼导致优编颜色异常
  dist/MarkRights-pagestyles/MarkRights-pagestyles.css
  dist/store.txt
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

update: 上游源代码更新
  src/NotifyConversion/modules/constant.ts
Due: prettier --write, eslint --fix

update: 上游源代码更新
  src/NotifyConversion/modules/core.ts
Due: prettier --write, eslint --fix

update: 上游源代码更新
  src/NotifyConversion/modules/preserveVariant.ts
Due: prettier --write, eslint --fix

fix: 移除
  src/NotifyConversion/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Update NotifyConversion.ts
  src/NotifyConversion/NotifyConversion.ts
Due: prettier --write, eslint --fix

refactor: 整合样式
  src/NotifyConversion/NotifyConversion.less
Due: prettier --write, stylelint --allow-empty-input --fix

Delete src/NotifyConversion-pagestyles directory
  src/NotifyConversion-pagestyles/LICENSE
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
  src/NotifyConversion-pagestyles/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Update core.ts
  src/NotifyConversion/modules/core.ts
Due: prettier --write, eslint --fix
