Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: 迁移LoginToEdit
  dist/LoginToEdit/LoginToEdit.js
  dist/definition.txt
  src/LoginToEdit/LICENSE
  src/LoginToEdit/LoginToEdit.ts
  src/LoginToEdit/definition.json
  src/LoginToEdit/modules/constant.ts
  src/LoginToEdit/modules/i18n.ts
  src/LoginToEdit/modules/initDialog.ts
  src/LoginToEdit/modules/initWindowManager.ts
  src/LoginToEdit/modules/util/generateMessageDialogProperty.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: 迁移select2与morebits，添加select2依赖包
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/AddSectionPlus-pagestyles/AddSectionPlus-pagestyles.css
  dist/AddSectionPlus/AddSectionPlus.js
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/AjaxLogin/AjaxLogin.js
  dist/LoginToEdit/LoginToEdit.js
  dist/i18n/i18n.js
  package.json
  pnpm-lock.yaml
  src/AccessKeyCheatsheet/LICENSE
  src/AddSectionPlus-pagestyles/LICENSE
  src/AddSectionPlus/LICENSE
  src/AdvancedSiteNotices-pagestyles/LICENSE
  src/AjaxLogin/LICENSE
  src/i18n/LICENSE
  src/morebits/.eslintrc
  src/morebits/LICENSE
  src/morebits/definition.json
  src/morebits/morebits.js
  src/morebits/morebits.less
  src/select2/.eslintrc
  src/select2/LICENSE
  src/select2/definition.json
  src/select2/select2.js
  src/select2/select2.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: 本地化权限组名
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat: 迁移AutoLink
  src/AutoLink/AutoLink.ts
  src/AutoLink/LICENSE
  src/AutoLink/definition.json
  src/AutoLink/modules/constant.ts
  src/AutoLink/modules/processElement.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: 追加dist
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/AutoLink/AutoLink.js
  dist/definition.txt
  dist/morebits/morebits.css
  dist/morebits/morebits.js
  dist/select2/select2.css
  dist/select2/select2.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat: add ShowAvatar
  dist/ShowAvatar/ShowAvatar.js
  dist/definition.txt
  src/ShowAvatar/LICENSE
  src/ShowAvatar/ShowAvatar.css
  src/ShowAvatar/ShowAvatar.js
  src/ShowAvatar/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add ShortURL
  dist/Clipboard/Clipboard.js
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
  dist/ShortURL/ShortURL.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/Clipboard/Clipboard.ts
  src/Clipboard/LICENSE
  src/Clipboard/definition.json
  src/Clipboard/modules/global.d.ts
  src/ShortURL-pagestyles/LICENSE
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL-pagestyles/definition.json
  src/ShortURL-pagestyles/images/link.svg
  src/ShortURL/LICENSE
  src/ShortURL/ShortURL.ts
  src/ShortURL/definition.json
  src/ShortURL/modules/core.ts
  src/ShortURL/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(deploy): incorrectly asserting `undefined` as a non-empty object
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

refactor(deploy): use eslint to simply check the ECMA version before deploying the script content directly
  package.json
  pnpm-lock.yaml
  scripts/modules/deploy.ts
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  pnpm-lock.yaml
Due: none

chore(build): bump version to 4.3.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat: 尝试加入很多猫分类工具
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/definition.json
  src/Cat-a-lot-pagestyles/images/check-constructive.svg
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/LICENSE
  src/Cat-a-lot/definition.json
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/Cat-a-lot/modules/messages.ts
  src/Cat-a-lot/modules/types.d.ts
  src/Cat-a-lot/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add NotifyConversion
  dist/NotifyConversion-pagestyles/NotifyConversion-pagestyles.css
  dist/NotifyConversion/NotifyConversion.js
  dist/definition.txt
  src/NotifyConversion-pagestyles/LICENSE
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
  src/NotifyConversion-pagestyles/definition.json
  src/NotifyConversion/LICENSE
  src/NotifyConversion/NotifyConversion.ts
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/constant.ts
  src/NotifyConversion/modules/core.ts
  src/NotifyConversion/modules/i18n.ts
  src/NotifyConversion/modules/preserveVariant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: 追加dist
  dist/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.css
  dist/Cat-a-lot/Cat-a-lot.js
  dist/Clipboard/Clipboard.js
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
  dist/ShortURL/ShortURL.js
  dist/definition.txt
  src/Clipboard/LICENSE
  src/ShortURL-pagestyles/LICENSE
  src/ShortURL/LICENSE
  src/ShortURL/modules/core.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: 追加dist
  dist/NotifyConversion-pagestyles/NotifyConversion-pagestyles.css
  dist/NotifyConversion/NotifyConversion.js
  src/NotifyConversion-pagestyles/LICENSE
  src/NotifyConversion/LICENSE
  src/NotifyConversion/modules/core.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

ci: update dependencies
  .github/workflows/lint.yml
  .github/workflows/sync.yml
Due: none

style(vscode): update recommended configuration
  .editorconfig
  .vscode/json-schemas/definition.json
  .vscode/json-schemas/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

docs(build): improve the description
  README.md
  docs/how-to-build-or-deploy.md
  docs/how-to-use-exports-and-require-in-mediawiki.md
  docs/how-to-use-vue.md
Due: none

build: update stylelint rules
  .stylelintrc
Due: none

chore(build): bump version to 4.3.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(util): improve type definitions
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix

refactor(deploy): skip deploying when there is no files for a gadget
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.3.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(scripts): improve type definitions
  scripts/modules/build-esbuild_options.ts
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.3.3
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.3.4
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: 追加dist
  dist/NotifyConversion/NotifyConversion.js
  dist/ShortURL/ShortURL.js
  dist/store.txt
Due: prettier --write, eslint --fix

build: update stylelint rules
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

style(vscode): update recommended configuration
  .vscode/extensions.json
  .vscode/settings.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.3.5
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat: 迁移CodeLinks，添加折叠内容支持
  dist/CodeLinks/CodeLinks.js
  dist/Collapsible-pagestyles/Collapsible-pagestyles.css
  dist/Collapsible/Collapsible.js
  dist/NotifyConversion/NotifyConversion.js
  dist/definition.txt
  dist/morebits/morebits.js
  src/CodeLinks/CodeLinks.ts
  src/CodeLinks/LICENSE
  src/CodeLinks/definition.json
  src/CodeLinks/modules/addLink.tsx
  src/CodeLinks/modules/constant.ts
  src/CodeLinks/modules/processComment.tsx
  src/Collapsible-pagestyles/Collapsible-pagestyles.less
  src/Collapsible-pagestyles/LICENSE
  src/Collapsible-pagestyles/definition.json
  src/Collapsible/Collapsible.ts
  src/Collapsible/LICENSE
  src/Collapsible/definition.json
  src/Collapsible/modules/addHook.ts
  src/Collapsible/modules/addListener.ts
  src/Collapsible/modules/addToggler.ts
  src/Collapsible/modules/constant.ts
  src/Collapsible/modules/i18n.ts
  src/Collapsible/modules/makeCollapsible.ts
  src/Collapsible/modules/util/generateTargetElements.ts
  src/Collapsible/modules/util/generateTogglerElement.tsx
  src/Collapsible/modules/util/hideElement.ts
  src/Collapsible/modules/util/showElement.ts
  src/Collapsible/modules/util/toggleElement.ts
  src/NotifyConversion/modules/i18n.ts
  src/morebits/morebits.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: 迁移Cookie警示脚本，增加代码块复制小工具
  .vscode/settings.json
  dist/Collapsible-pagestyles/Collapsible-pagestyles.css
  dist/definition.txt
  dist/store.txt
  scripts/constant.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/LICENSE
  src/ConfirmLogout/definition.json
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/api.ts
  src/ConfirmLogout/modules/constant.ts
  src/ConfirmLogout/modules/i18n.ts
  src/ConfirmLogout/modules/tryLogout.ts
  src/ConfirmLogout/modules/util/logout.ts
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/ConfirmLogout/modules/util/showError.ts
  src/ConfirmLogout/options.json
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/CookieWarning-pagestyles/LICENSE
  src/CookieWarning-pagestyles/definition.json
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/LICENSE
  src/CookieWarning/components/AgreeButton.tsx
  src/CookieWarning/components/ConsentNotice.tsx
  src/CookieWarning/definition.json
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: cookieWarning→CookieWarning
  dist/ConfirmLogout/ConfirmLogout.js
  dist/CookieWarning-pagestyles/CookieWarning-pagestyles.css
  dist/CookieWarning/CookieWarning.js
  dist/definition.txt
  src/CookieWarning/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: dist
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/LoginToEdit/LoginToEdit.js
Due: prettier --write, eslint --fix

build: update eslint rules
  .eslintrc
Due: none

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx,vue})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx,vue}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
