Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.6.3
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: bump version
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(scripts): use functional methods instead of classic loops
  scripts/constant.ts
  scripts/modules/deploy.ts
  scripts/modules/formatJSON.ts
  scripts/modules/plugins/babel-plugin-import-polyfills.ts
  scripts/modules/types.d.ts
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-test.ts
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.6.4
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: remove default flag from Wikicache definition.json
  dist/OnlineAdmins/OnlineAdmins.css
  dist/definition.txt
  dist/select2/select2.css
  src/Wikicache/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: regenerate dist
  dist/OnlineAdmins/OnlineAdmins.css
  dist/select2/select2.css
Due: prettier --write, stylelint --allow-empty-input --fix

chore: increase MAX_CONCURRENCY to 16
  scripts/constant.ts
Due: prettier --write, eslint --fix

build: switch packages specified as "latest" to more specific versions build: update dependencies see https://github.com/AnYiEE/AwesomeGadgets/issues/26 for more information
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.6.5
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: update getDomains.ts for wiki-ysy
  dist/ShortURL/ShortURL.js
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/modules/util/getDomains.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(NavbarAvatar): add mediawiki.user as dependencies
  src/NavbarAvatar/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(PurgePageCache): herf fix(ShowAvatar): avoid queries which search the entire DOM
  dist/PurgePageCache/PurgePageCache.js
  dist/ShowAvatar/ShowAvatar.js
  src/PurgePageCache/PurgePageCache.ts
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, eslint --fix

chore: update NavbarAvatar dependencies
  dist/definition.txt
Due: none

test: remove tag
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/PurgePageCache.ts
Due: prettier --write, eslint --fix

chore(PurgePageCache): remove unused code and event listener
  src/PurgePageCache/PurgePageCache.ts
Due: prettier --write, eslint --fix

revert(ShowAvatar): invalid fix(FloatTOC): keep the position of the icon after scrolling on mobile devices fix(AdvancedSiteNotices-pagestyles): set will-change hint for animation
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/FloatTOC/FloatTOC.css
  dist/FloatTOC/FloatTOC.js
  dist/PurgePageCache/PurgePageCache.js
  dist/ShowAvatar/ShowAvatar.js
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/FloatTOC/FloatTOC.less
  src/FloatTOC/definition.json
  src/FloatTOC/modules/constant.ts
  src/FloatTOC/modules/core.ts
  src/FloatTOC/options.json
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

revert(ShowAvatar): ?
  dist/ShowAvatar/ShowAvatar.js
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, eslint --fix

build: update dependencies
  .eslintrc
  .stylelintrc
  package.json
  patches/eslint-config-wikimedia@0.28.0.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.6.6
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: dist
  dist/FloatTOC/FloatTOC.js
  dist/TextSpacing/TextSpacing.js
  src/NavbarAvatar/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: replace wrong method in updateLinks module
  src/RollbackSummary/modules/updateLinks.ts
Due: prettier --write, eslint --fix

feat: add sidebar icons
  dist/RollbackSummary/RollbackSummary.js
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  src/SkinCitizen_CSS/SkinCitizen_CSS.less
  src/SkinCitizen_CSS/modules/add-sidebar-icon.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: disable some gadgets on default
  src/AccessKeyCheatsheet/definition.json
  src/CookieWarning/definition.json
  src/DiffLink/definition.json
  src/FloatTOC/definition.json
  src/GeoLocationReader/definition.json
  src/Wikicache/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(GeoLocationReader): remove hidden
  dist/definition.txt
  src/GeoLocationReader/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat(deploy.ts): add deployment duration
  scripts/modules/deploy.ts
Due: prettier --write, eslint --fix

feat(deploy.ts): add start time and end time
  scripts/modules/deploy.ts
Due: prettier --write, eslint --fix

feat(deploy.ts): too many decimals
  scripts/modules/deploy.ts
Due: prettier --write, eslint --fix

fix(deploy.ts): format time with Moment.js
  scripts/modules/deploy.ts
Due: prettier --write, eslint --fix

refactor(deploy): rename variables chore(deploy): remove unnecessary comments
  scripts/modules/deploy.ts
Due: prettier --write, eslint --fix

docs(build): improve the description in how-to-use-exports-and-require-in-mediawiki.md
  docs/how-to-use-exports-and-require-in-mediawiki.md
Due: none

chore(deploy): improve console log messages (#28)
  docs/how-to-use-exports-and-require-in-mediawiki.md
  scripts/modules/deploy.ts
Due: prettier --write, eslint --fix

fix: update rulesets in CSS files refactor: follows Qiuwen upstream
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/jQueryUI.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/talkPage.less
  src/Wikiplus/Wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: dist
  dist/SiteCommon/SiteCommon.css
  dist/Wikiplus/Wikiplus.css
Due: prettier --write, stylelint --allow-empty-input --fix

revert: error
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: css->less
  dist/SiteCommon/SiteCommon.css
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/SiteCommon/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(mbox): css→less
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx,vue})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx,vue}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
