Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx,vue}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,vue,json}": "prettier --ignore-unknown --write"
}

fix: 分类显示差异化
  src/GeoLocation/definition.json
  src/SiteCommon/modules/category.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: dist
  dist/SiteCommon/SiteCommon.css
  dist/definition.txt
Due: prettier --write, stylelint --allow-empty-input --fix

fix: twinkle
  src/Twinkle/modules/twinkleclose.js
Due: prettier --write, eslint --fix

fix: arxiv→archives
  dist/RollbackSummary/RollbackSummary.js
  dist/Twinkle/Twinkle.js
  src/RollbackSummary/LICENSE
  src/RollbackSummary/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: arxiv→archives
  dist/AjaxLogin/AjaxLogin.js
  dist/DisambigLinks/DisambigLinks.css
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/InterwikiTips/InterwikiTips.css
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  dist/Util/Util.js
  dist/morebits/morebits.js
  dist/store.txt
  src/AjaxLogin/modules/i18n.ts
  src/DisambigLinks/LICENSE
  src/EnhancedSpecialSearch/modules/getOptionData.ts
  src/EnhancedSpecialSearch/modules/i18n.ts
  src/InterwikiTips/LICENSE
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
  src/Util/modules/initMwApi.ts
  src/global.json
  src/morebits/morebits.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: image width in special:viewavatar
  dist/RollbackSummary/RollbackSummary.js
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
  dist/store.txt
  src/SkinCitizen_CSS/modules/mobile-style.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(dist): image width in special:viewavatar
  dist/SkinCitizen_CSS/SkinCitizen_CSS.css
Due: prettier --write, stylelint --allow-empty-input --fix

style: whoisactive
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: use wgserver instead of fixed url
  dist/NavbarAvatar/NavbarAvatar.js
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  src/NavbarAvatar/NavbarAvatar.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

Update ShowAvatar.ts
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, eslint --fix

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.5.3
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(ShowAvatar): use wgserver instead of fixed url
  dist/ShowAvatar/ShowAvatar.js
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, eslint --fix

chore(dist): regenerate
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/ShowAvatar/ShowAvatar.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

revert: fixed url
  dist/ShowAvatar/ShowAvatar.js
  src/ShowAvatar/ShowAvatar.ts
Due: prettier --write, eslint --fix

fix(global.json): bureaucrat→steward
  src/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(deploy): improve type definitions
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.5.4
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(scripts): improve type definitions
  scripts/modules/build.ts
  scripts/modules/deploy.ts
  scripts/modules/plugins/babel-plugin-convert-comments.ts
  scripts/modules/plugins/babel-plugin-import-polyfills.ts
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-test.ts
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 4.5.5
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.5.6
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(esbuild): set '.svg' to use dataurl loader
  scripts/modules/build-esbuild_options.ts
Due: prettier --write, eslint --fix

build: enable the `forceInlineImages` option for `esbuild-css-modules-plugin` close https://github.com/AnYiEE/AwesomeGadgets/pull/23
  scripts/modules/build-esbuild_options.ts
Due: prettier --write, eslint --fix

build: update dependencies
  package.json
  patches/eslint-config-wikimedia@0.27.0.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.5.7
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(twinkleprotect): 本地化
  src/Twinkle/modules/twinkleprotect.js
Due: prettier --write, eslint --fix

build: update dependencies
  package.json
  patches/esbuild-css-modules-plugin@3.1.1.patch
  pnpm-lock.yaml
  scripts/modules/deploy.ts
  scripts/modules/formatJSON.ts
  scripts/modules/plugins/babel-plugin-import-polyfills.ts
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(build): bump version to 4.5.8
  package.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Update fix-site-icon.less
  src/SkinCitizen_CSS/modules/fix-site-icon.less
Due: prettier --write, stylelint --allow-empty-input --fix

Create fix-toolbar.less
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix

Update SkinCitizen_CSS.less
  src/SkinCitizen_CSS/SkinCitizen_CSS.less
Due: prettier --write, stylelint --allow-empty-input --fix

Update fix-toolbar.less
  src/SkinCitizen_CSS/modules/fix-toolbar.less
Due: prettier --write, stylelint --allow-empty-input --fix
