Repository AnYiEE/AwesomeGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --sort -

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --sort - ",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json}": "prettier --ignore-unknown --write"
}

fix(deploy): fail to match editing summary
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 3.2.3
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

fix: do not sort unexpected JSON files
  package.json
  scripts/modules/sortConfig.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --sort -

refactor: rename variables
  .lintstagedrc
  package.json
  scripts/modules/formatJSON.ts
  scripts/run.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --sort -

chore(build): bump version to 3.2.4
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --sort -

build: update prettier rules
  .prettierrc
  tsconfig.json
Due: tsx --no-deprecation scripts/run.ts --sort -

feat: alphabetically sort keys/values using natural order
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --sort -

chore(build): bump version to 3.2.5
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

fix(alpha-sort): `value.toLowerCase` is not a function
  package.json
  patches/alpha-sort@5.0.0.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --sort -

chore(build): bump version to 3.2.6
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

build: add test functions to the deployment process
  package.json
  scripts/modules/deploy.ts
  scripts/modules/utils/deploy-test.ts
  scripts/run.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --sort -

chore(build): bump version to 3.3.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

build: update dependencies
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: tsx --no-deprecation scripts/run.ts --sort -

style(vscode): update recommended configuration
  .vscode/settings.json
Due: tsx --no-deprecation scripts/run.ts --sort -

chore(build): bump version to 3.3.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

feat: skip certain sites during deployment
  scripts/modules/deploy.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix

refactor(deploy-test): support testing multi-site deployment
  scripts/modules/deploy.ts
  scripts/modules/utils/deploy-test.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 3.4.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

chore(build): bump version to 3.4.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

chore(build): bump version to 3.4.2
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

perf: use promisified `exec` instead of `execSync`
  scripts/modules/formatJSON.ts
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix

perf(formatJSON): skip format unnecessary files
  scripts/modules/formatJSON.ts
Due: prettier --write, eslint --fix

refactor(deploy): improve type definitions
  scripts/modules/deploy.ts
Due: prettier --write, eslint --fix

refactor(babel-plugins): improve type definitions
  package.json
  pnpm-lock.yaml
  scripts/modules/plugins/babel-plugin-convert-comments.ts
  scripts/modules/plugins/babel-plugin-import-polyfills.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --sort -

fix(build): incorrect judgment conditions
  scripts/modules/build.ts
Due: prettier --write, eslint --fix

refactor(build): remove unnecessary judgment conditions
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

refactor(deploy-test): randomly generate fake site configuration
  scripts/modules/utils/deploy-test.ts
Due: prettier --write, eslint --fix

chore(deploy): improve console log messages
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 3.5.0
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

build: revert 1a021ef all files should be formatted
  scripts/modules/formatJSON.ts
Due: prettier --write, eslint --fix

feat: alphabetically sort credentials JSON first-level keys
  scripts/modules/formatJSON.ts
Due: prettier --write, eslint --fix

refactor(formatJSON): skip unnecessary files with special formatting
  scripts/modules/formatJSON.ts
Due: prettier --write, eslint --fix

feat: abort when there is an illegal site name
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

chore(build): bump version to 3.5.1
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -

build: clean up the build output directory during the current build
  package.json
  pnpm-lock.yaml
  scripts/modules/build.ts
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --sort -

build: update package commands
  package.json
Due: tsx --no-deprecation scripts/run.ts --sort -
